/****** General ***********/

* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  justify-content: center;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  border: 5px solid white;
  border-radius: 20px;
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  overflow: hidden; 
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

h1 {
  margin-bottom: 8px;
  font-size: 22px;
}

/****** Header ***********/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header .logo {
  padding: 30px 50px;
}

header .logo img {
  width: 61px;
  height: 19px;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 68px;
  margin: 0;
  padding: 0 50px;
  list-style-type: none;
}

nav ul li {
  padding: 16px 0;
  border-top: 2px solid transparent;
  transition: border-color 0.5s ease, color 0.5s ease;
}

nav ul li:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

/****** Search ***********/

.search {
  padding: 0 50px;
}

form {
  display: flex;
  height: 50px;
  width: 100%;
  max-width: 377px;
  margin: 35px 0;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px;
}

.localisation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-width: 50px;
  border: 1px solid var(--main-bg-color);
  border-radius: 15px 0 0 15px;
  background: var(--main-bg-color);
}

form input {
  flex: 1;
  border-radius: 0;
  border: none;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

form input:focus {
  outline: none;
}

form button {
  height: 52px;
  width: 130px;
  margin-top: -1px;
  border: none;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  background: var(--main-color);
  text-align: center;
  color: white;
  font-weight: 700;
}

form button .fa-solid.fa-magnifying-glass {
  display: none;
}

/****** Filters ***********/

.filters {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
}

.filters p {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 50px;
  max-width: 205px;
  min-width: 160px;
  padding: 0 20px;
  border-radius: 25px;
  border: 2px solid var(--main-bg-color);
  background: none;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.5s ease;
}

.filter-button:hover {
  cursor: pointer;
  background-color: var(--filter-bg-color);
}

.filter-button i {
  font-size: 22px;
}

.search-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-info i {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin: 35px 50px;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  box-sizing: border-box;
  padding: 30px;
  background-color: var(--main-bg-color);
}

/****** Hebergements ***********/

.hebergements {
  width: 65%;
  padding: 30px;
}

.hebergements-title {
  margin-bottom: 30px;
}

.hebergements-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hebergements-cards a {
  width: 30%;
}

.hebergements-cards .card {
  display: flex;
  flex-direction: column;
  height: 207px;
  margin-bottom: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 114px;
}

.hebergements-cards .card-content {
  padding: 4px 10px 15px 10px;
}

.hebergements-cards .card-content .card-title {
  margin: 0;
}

.hebergements-cards .card-content .card-subtitle {
  margin: 8px 0;
  font-size: 14px;
}

#hebergements-see-more {
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
}

.populaires-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 67%;
  padding-left: 15px;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ***********/

.activities {
  padding: 30px;
  margin: 0 50px 35px 50px;
}

.activities-cards {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.activities-cards a {
  width: 25%;
}

.activities-cards .card {
  width: 100%;
  border-top-left-radius: 20px;
  padding: 0;
  overflow: hidden;
  border: none;
}

.activities-cards .card img {
  width: 100%;
  height: 380px;
}

.activities-cards .card .card-content {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 5px 0 20px;
}

.activities-cards .card .card-content h3 {
  margin: 0;
}

/****** Footer ***********/

footer {
  display: flex;
  padding: 20px 20px 4px 20px;
  background: var(--main-bg-color);
}

footer section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer section a {
  margin-bottom: 1em;
}

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .filters {
    flex-direction: column;
    align-items: flex-start;
  }

  .activities-cards .card img {
    height: 200px;
  }

  .activities-cards .card .card-content {
    height: 70px;
  }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
  header {
    flex-direction: column;
  }

  header .logo {
    text-align: center;
  }

  nav ul {
    gap: 0;
    text-align: center;
    padding: 0;
  }

  nav ul li {
    flex: 1;
    padding: 1em 0;
    border-top: 0;
    border-bottom: 2px solid var(--main-bg-color);
    transition: border-color 0.5s ease, color 0.5s ease;
  }

  nav ul li:hover {
    border-color: var(--main-color);
    color: var(--main-color);
  }

  .search {
    padding: 0 20px;
  }

  form button {
    border-radius: 15px;
    width: 50px;
    min-width: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  form button span {
    display: none;
  }

  form button .fa-solid.fa-magnifying-glass {
    display: inline;
    color: white;
  }

  .filter-button {
    flex: 1;
    font-size: 14px;
    justify-content: flex-start;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    margin: 0;
  }

  .hebergements-and-populaires .populaires {
    border-radius: 0;
    padding: 30px 20px;
  }

  .hebergements-and-populaires .hebergements {
    background: white;
    padding: 30px 20px;
  }

  .hebergements-cards,
  .populaires-cards,
  .activities-cards {
    flex-direction: column;
  }

  .hebergements-cards a,
  .populaires-cards a,
  .activities-cards a {
    width: 100%;
  }

  .populaires-cards .card {
    margin-top: 15px;
  }

  .hebergements-cards .card {
    margin-bottom: 15px;
  }

  .activities {
    margin: 0 0 35px 0;
    padding: 30px;
  }

  .activities-cards .card .card-content {
    height: 60px;
  }

  .activities-cards .card img {
    height: 140px;
  }

  .activities-cards {
    gap: 15px;
  }

  footer {
    flex-direction: column;
    gap: 16px;
  }
}
